{% autoescape off %}
อัสลามุอลัยกุมวะเราะห์มะตุ้ลลอฮิบะรอกาตุฮ์
ขอความสันติสุขจงมีแด่ ท่าน {{ user.first_name }},

กรุณาคลิ๊กลิงค์ด้านล่างนี้ เพื่อยืนยันอีเมลของคุณในการสมัครสมาชิกเว็บไซต์ panyachonislam.com,
ลิงค์ :

http://www.panyachonislam.com{% url 'activate' uidb64=uid token=token %}

หากลิงค์ด้านบนไม่ทำงาน,กรุณาคัดลอกและนำไปวางในหน้าเว็บบราวเซอร์ของคุณ

------------------------------------

username ของคุณคือ : {{user.username}}
email ของคุณคือ : {{user.email}}

ทางทีมงานปัญญาญาชนอิสลามมีความยินดีขอเรียนเชิญท่าน ในการใช้งานเว็บไซต์ของเรา เพื่อค้นหาข้อมูลความรู้
และเรียนเชิญท่านร่วมเขียนบทความ หรือ โพสต์ ในบอร์ดสนทนาในเว็บไซต์ของเรา

ขอเอกองค์อัลลอฮ์ทรงประทานคุณงามความดีแด่เราและท่าน

ทีมงาน ปัญญาชนอิสลาม
{% endautoescape %}