{% extends 'layout.html'%}
{%block head%}
{%include 'picheadpage.html'%}
{%endblock%}
{%block content%}
<div class="container" style="background-color:white;border-top: 3px solid green ; padding:20px">
    <div class="row">
        <div class="card text-center col-lg-4" style="border-bottom: 3px solid green ; padding:20px">
            <br>
            <img style="margin-left: auto;margin-right: auto" class="bd-placeholder-img rounded-circle" width="140" height="140"
                 src="/static/image/received_2061336687500058.jpeg"
                 preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#777"/>

            </img>
            <div class="card-body">
                <h6>ทำอย่่างไรที่จะมีคนดีๆเข้ามาในชีวิต</h6>
            </div>
            <div class="modal-footer">
                <p class="card-text"><small class="text-muted">อัพเดทล่าสุด : {{article.updated}}</small></p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                <p><a class="btn btn-success" href="#" role="button">readlist <span
                        class="badge badge-light">+</span></a></p>
            </div>
        </div><!-- /.col-lg-4 -->

        <div class="card text-center col-lg-4" style="border-bottom: 3px solid green ; padding:20px">
            <br>
            <img style="margin-left: auto;margin-right: auto" class="bd-placeholder-img rounded-circle" width="140" height="140"
                 src="/static/image/received_2061336687500058.jpeg"
                 preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#777"/>

            </img>
            <div class="card-body">
                <h6>ทำอย่่างไรที่จะมีคนดีๆเข้ามาในชีวิต</h6>
            </div>
            <div class="modal-footer">
                <p class="card-text"><small class="text-muted">อัพเดทล่าสุด : {{article.updated}}</small></p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                <p><a class="btn btn-success" href="#" role="button">readlist <span
                        class="badge badge-light">+</span></a></p>
            </div>
        </div><!-- /.col-lg-4 -->

        <div class="card text-center col-lg-4" style="border-bottom: 3px solid green ; padding:20px">
            <br>
            <img style="margin-left: auto;margin-right: auto" class="bd-placeholder-img rounded-circle" width="140" height="140"
                 src="/static/image/received_2061336687500058.jpeg"
                 preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#777"/>

            </img>
            <div class="card-body">
                <h6>ทำอย่่างไรที่จะมีคนดีๆเข้ามาในชีวิต</h6>
            </div>
            <div class="modal-footer">
                <p class="card-text"><small class="text-muted">อัพเดทล่าสุด : {{article.updated}}</small></p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                <p><a class="btn btn-success" href="#" role="button">readlist <span
                        class="badge badge-light">+</span></a></p>
            </div>
        </div><!-- /.col-lg-4 -->

        <div class="card text-center col-lg-4" style="border-bottom: 3px solid green ; padding:20px">
            <br>
            <img style="margin-left: auto;margin-right: auto" class="bd-placeholder-img rounded-circle" width="140" height="140"
                 src="/static/image/received_2061336687500058.jpeg"
                 preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#777"/>

            </img>
            <div class="card-body">
                <h6>ทำอย่่างไรที่จะมีคนดีๆเข้ามาในชีวิต</h6>
            </div>
            <div class="modal-footer">
                <p class="card-text"><small class="text-muted">อัพเดทล่าสุด : {{article.updated}}</small></p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                <p><a class="btn btn-success" href="#" role="button">readlist <span
                        class="badge badge-light">+</span></a></p>
            </div>
        </div><!-- /.col-lg-4 -->

        <div class="card text-center col-lg-4" style="border-bottom: 3px solid green ; padding:20px">
            <br>
            <img style="margin-left: auto;margin-right: auto" class="bd-placeholder-img rounded-circle" width="140" height="140"
                 src="/static/image/received_2061336687500058.jpeg"
                 preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#777"/>

            </img>
            <div class="card-body">
                <h6>ทำอย่่างไรที่จะมีคนดีๆเข้ามาในชีวิต</h6>
            </div>
            <div class="modal-footer">
                <p class="card-text"><small class="text-muted">อัพเดทล่าสุด : {{article.updated}}</small></p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                <p><a class="btn btn-success" href="#" role="button">readlist <span
                        class="badge badge-light">+</span></a></p>
            </div>
        </div><!-- /.col-lg-4 -->

        <div class="card text-center col-lg-4" style="border-bottom: 3px solid green ; padding:20px">
            <br>
            <img style="margin-left: auto;margin-right: auto" class="bd-placeholder-img rounded-circle" width="140" height="140"
                 src="/static/image/received_2061336687500058.jpeg"
                 preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#777"/>

            </img>
            <div class="card-body">
                <h6>ทำอย่่างไรที่จะมีคนดีๆเข้ามาในชีวิต</h6>
            </div>
            <div class="modal-footer">
                <p class="card-text"><small class="text-muted">อัพเดทล่าสุด : {{article.updated}}</small></p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                <p><a class="btn btn-success" href="#" role="button">readlist <span
                        class="badge badge-light">+</span></a></p>
            </div>
        </div><!-- /.col-lg-4 -->

        <div class="card text-center col-lg-4" style="border-bottom: 3px solid green ; padding:20px">
            <br>
            <img style="margin-left: auto;margin-right: auto" class="bd-placeholder-img rounded-circle" width="140" height="140"
                 src="/static/image/received_2061336687500058.jpeg"
                 preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#777"/>

            </img>
            <div class="card-body">
                <h6>ทำอย่่างไรที่จะมีคนดีๆเข้ามาในชีวิต</h6>
            </div>
            <div class="modal-footer">
                <p class="card-text"><small class="text-muted">อัพเดทล่าสุด : {{article.updated}}</small></p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                <p><a class="btn btn-success" href="#" role="button">readlist <span
                        class="badge badge-light">+</span></a></p>
            </div>
        </div><!-- /.col-lg-4 -->

        <div class="card text-center col-lg-4" style="border-bottom: 3px solid green ; padding:20px">
            <br>
            <img style="margin-left: auto;margin-right: auto" class="bd-placeholder-img rounded-circle" width="140" height="140"
                 src="/static/image/received_2061336687500058.jpeg"
                 preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#777"/>

            </img>
            <div class="card-body">
                <h6>ทำอย่่างไรที่จะมีคนดีๆเข้ามาในชีวิต</h6>
            </div>
            <div class="modal-footer">
                <p class="card-text"><small class="text-muted">อัพเดทล่าสุด : {{article.updated}}</small></p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                <p><a class="btn btn-success" href="#" role="button">readlist <span
                        class="badge badge-light">+</span></a></p>
            </div>
        </div><!-- /.col-lg-4 -->

        <div class="card text-center col-lg-4" style="border-bottom: 3px solid green ; padding:20px">
            <br>
            <img style="margin-left: auto;margin-right: auto" class="bd-placeholder-img rounded-circle" width="140" height="140"
                 src="/static/image/received_2061336687500058.jpeg"
                 preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#777"/>

            </img>
            <div class="card-body">
                <h6>ทำอย่่างไรที่จะมีคนดีๆเข้ามาในชีวิต</h6>
            </div>
            <div class="modal-footer">
                <p class="card-text"><small class="text-muted">อัพเดทล่าสุด : {{article.updated}}</small></p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                <p><a class="btn btn-success" href="#" role="button">readlist <span
                        class="badge badge-light">+</span></a></p>
            </div>
        </div><!-- /.col-lg-4 -->

        <div class="card text-center col-lg-4" style="border-bottom: 3px solid green ; padding:20px">
            <br>
            <img style="margin-left: auto;margin-right: auto" class="bd-placeholder-img rounded-circle" width="140" height="140"
                 src="/static/image/received_2061336687500058.jpeg"
                 preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#777"/>

            </img>
            <div class="card-body">
                <h6>ทำอย่่างไรที่จะมีคนดีๆเข้ามาในชีวิต</h6>
            </div>
            <div class="modal-footer">
                <p class="card-text"><small class="text-muted">อัพเดทล่าสุด : {{article.updated}}</small></p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                <p><a class="btn btn-success" href="#" role="button">readlist <span
                        class="badge badge-light">+</span></a></p>
            </div>
        </div><!-- /.col-lg-4 -->

        <div class="card text-center col-lg-4" style="border-bottom: 3px solid green ; padding:20px">
            <br>
            <img style="margin-left: auto;margin-right: auto" class="bd-placeholder-img rounded-circle" width="140" height="140"
                 src="/static/image/received_2061336687500058.jpeg"
                 preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#777"/>

            </img>
            <div class="card-body">
                <h6>ทำอย่่างไรที่จะมีคนดีๆเข้ามาในชีวิต</h6>
            </div>
            <div class="modal-footer">
                <p class="card-text"><small class="text-muted">อัพเดทล่าสุด : {{article.updated}}</small></p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                <p><a class="btn btn-success" href="#" role="button">readlist <span
                        class="badge badge-light">+</span></a></p>
            </div>
        </div><!-- /.col-lg-4 -->

        <div class="card text-center col-lg-4" style="border-bottom: 3px solid green ; padding:20px">
            <br>
            <img style="margin-left: auto;margin-right: auto" class="bd-placeholder-img rounded-circle" width="140" height="140"
                 src="/static/image/received_2061336687500058.jpeg"
                 preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#777"/>

            </img>
            <div class="card-body">
                <h6>ทำอย่่างไรที่จะมีคนดีๆเข้ามาในชีวิต</h6>
            </div>
            <div class="modal-footer">
                <p class="card-text"><small class="text-muted">อัพเดทล่าสุด : {{article.updated}}</small></p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                <p><a class="btn btn-success" href="#" role="button">readlist <span
                        class="badge badge-light">+</span></a></p>
            </div>
        </div><!-- /.col-lg-4 -->


    </div><!-- /.row -->
</div>
{%endblock%}