{% extends 'layout.html'%}
{% load crispy_forms_tags %}
{%block head%}
{%include 'picheadpage.html'%}
{%endblock%}
{%block content%}
<div class="messages">
    {% if messages %}
    {% for message in messages %}
    <p id="alertpost" class="alert alert-{{ message.tags }}">{{ message }}</p>
    {% endfor %}
    {% endif %}
</div>
<div class="container" style="background-color:white;border-top: 3px solid green ; padding:20px">
    <div class="card-body" >
        <form method="get">
            {{filter.form|crispy}}
            <div style="text-align:center;">
                <input type="submit" class="btn btn-primary" value="ตกลง" align="center">
            </div>
        </form>
    </div>
    <div class="row">

        {% if not filter.qs %}
        <div class="alert alert-danger"><p class="text-center">ยังไม่มีโพสต์/บอร์ดสนทนา ในหมวดหมู่นี้
            เชิญชวนพี่น้องชาวปัญญาชนอิสลามร่วมสร้างโพสต์/บอร์ดสนทนา<a href="
            {% if request.user.is_authenticated %}
            {%url 'postcreate'%}
            {%else%}
            {% url 'signin' %}?next={{ request.path|urlencode }}
            {%endif%}
             "> ที่นี่ </a></p></div>
        {% else %}
        {%for p in page_obj%}
        <div class="card text-center col-lg-4" style="border-bottom: 3px solid green ; padding:20px">
            <a href="{{p.author.profile.get_url}}"><p>{{p.author.first_name}}</p></a>
            <img style="margin-left: auto;margin-right: auto " class="bd-placeholder-img rounded-circle" width="140"
                 height="140"
                 src="
                         {% if p.author.profile.photo %}
                         {{p.author.profile.photo.url}}
                         {%else%}
                         /media/Profile-PNG-Icon-715x715.png/
                         {%endif%}"
                 preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#777"/>

            </img>
            <div class="card-body">
                <a href="{{p.get_url}}"><h6>{{p.title|truncatechars:60}}</h6></a>
            </div>
            <div class="modal-footer">

                <p class="card-text"><small class="text-muted">อัพเดทล่าสุด : {{p.updated}}</small></p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                <p><a class="btn btn-success" href="#" role="button">readlist <span
                        class="badge badge-light">+</span></a></p>
                <span><kbd>{{p.total_likes}} like</kbd></span>
                <span><kbd>{{p.countcomment}} ความคิดเห็น</kbd></span>
                {% if p.author == request.user %}
                <div>
                    <a href="{% url 'post_edit' id=p.id %}">
                        <button type="button" class="btn btn-outline-success">แก้ไขโพสต์</button>
                    </a>
                </div>
                <div>
                    <a onclick="return confirm('คุณต้องการลบโพสต์/บทความของคุณหรือไม่ ?')"
                       href="{% url 'post_delete' id=p.id %}">
                        <button type="button" class="btn btn-outline-danger">ลบโพสต์</button>
                    </a>
                </div>
                {% endif %}
            </div>
        </div><!-- /.col-lg-4 -->
        {% endfor %}
        {%endif%}
    </div><!-- /.row -->
</div>
{%endblock%}