{% extends 'layout.html'%}
{%block head%}
{%include 'picheadpage.html'%}
{%endblock%}
{%block content%}
<div class="messages">
    {% if messages %}
    {% for message in messages %}
    <p id="alertpost" class="alert alert-{{ message.tags }}">{{ message }}</p>
    {% endfor %}
    {% endif %}
</div>
<div class="container">
    <div class="card shadow mb-2" style="border-top: 3px solid green ; padding:20px">

        <div class="card-body text-center">
            <img style="margin-left: auto;margin-right: auto " class="bd-placeholder-img rounded-circle" width="140"
                 height="140"
                 src="/static/image/received_2061336687500058.jpeg"
                 preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#777"/>

            </img>
            <div class="modal-footer">

                <p class="card-text"><small class="text-muted">อัพเดทล่าสุด : {{post.updated}}</small></p>
                <p class="card-text"><small class="text-muted">
                    <span><kbd>{{totallikes}} like </kbd></span>
                    <span><kbd>ถูกอ่าน : {{post.view}} ครั้ง</kbd></span></small></p>
                <a href="#">
                    <button type="button" class="btn btn-success">readlist <span class="badge badge-light">+</span>
                    </button>
                </a>
                </span>
            </div>

            <h5>{{post.title}}</h5>
            <br>

        </div>


        <div class="card-body">{{post.body|safe}}</div>
        <div id="like-post-section">
            {% include 'like_post_section.html' %}
        </div>

        {% if post.author == request.user %}
        <div>
            <a href="{% url 'post_edit' id=post.id %}">
                <button type="button" class="btn btn-outline-success">แก้ไขโพสต์</button>
            </a>
        </div>
        <div>
            <a onclick="return confirm('คุณต้องการลบโพสต์/บทความของคุณหรือไม่ ?')"
               href="{% url 'post_delete' id=post.id %}" id="delete">
                <button type="button" class="btn btn-outline-danger">ลบโพสต์</button>
            </a>
        </div>
        {% endif %}
        <hr>
        <div class="main-comment-section">
            {%include 'commentpost.html'%}
        </div>

        <div class="modal-footer">
            <div class="ml-auto p-1 bd-highlight" style="border-bottom: 3px solid green ; padding:20px">
                <a style="color:green" class="card-link" href="{%url 'blog'%}"><h6>โพสต์อื่น ๆ</h6></a>
            </div>
        </div>

    </div>
</div>

{%endblock%}