{% if request.user.is_authenticated %}
<form method="post" action="{% url 'like_article' %}">
    {% csrf_token %}
    {% if is_liked %}
    <button type="submit" id="like_article" name="article_id" value="{{article.id}}" class="btn btn-success">
        <i class="fa fa-star" aria-hidden="true"></i>
    </button>
    {% else %}
    <button type="submit" id="like_article" name="article_id" value="{{article.id}}" class="btn btn-outline-success">
        <i class="fa fa-star" aria-hidden="true"></i>
    </button>
    {% endif %}
    <span><kbd style="background-color:#2E8B57;">{{totallikes}} ดาว </kbd></span>
</form>
{% else %}
<a href="{% url 'signin' %}?next={{ request.path|urlencode }}"><button class="btn btn-outline-success">
    <i class="fa fa-star" aria-hidden="true"></i>
</button></a>
<span><kbd style="background-color:#2E8B57;">{{totallikes}} ดาว </kbd></span>
{% endif %}
