{% extends 'layout.html'%}
{%block title%}ปัญญาชนอิสลาม-มัสอะละห์-{{request.user.username}}{%endblock%}
{%block head%}
{%include 'picheadpage.html'%}
{%endblock%}
{%block content%}
<div class="messages">
    {% if messages %}
    {% for message in messages %}
    <p id="alertpost" class="alert alert-{{ message.tags }}">{{ message }}</p>
    {% endfor %}
    {% endif %}
</div>
<div class="card border-0 shadow mb-4"><!--กล่องหลัก-->
    <div class="card-header" style="background-color:#90EE90"><!--ส่วนหัวกล่องหลัก-->
        <div class="d-flex bd-highlight  ">
            {% if request.user.profile.photo %}
            <img src="{{user.profile.photo.url}}" class="navbar-img bd-placeholder-img rounded-circle">
            {% else %}
            <img src="/media/Profile-PNG-Icon-715x715.png/" class="navbar-img bd-placeholder-img rounded-circle">
            {% endif %}
            <h5 style="color:#2E8B57;">{{user.first_name}}<br> <small>@{{user.username}}</small></h5>
            {% if request.user %}
            <div class="ml-auto p-1 bd-highlight">
                <div class="dropdown mr-0">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle"
                            id="dropdownMenuOffset2"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0,0">
                        <i class="fa fa-list" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset2">
                        <a class="dropdown-item" href="{%url 'blog_user'%}">โพสต์เผยแพร่</a>
                        <a class="dropdown-item" href="{%url 'blog_user_draft'%}">โพสต์ฉบับร่าง</a>
                        <a class="dropdown-item" href="{%url 'masalah-answered'%}">มัสอะละห์ของคุณ</a>
                    </div>
                </div>
            </div>
            {%endif%}
        </div>
    </div>
    <div class="card-body"> <!--ส่วนตัวกล่องหลัก-->
        <a href="{%url 'masalah-answered'%}"><span class="badge badge-pill badge-success">ได้รับการตอบแล้ว-{{masalah.count}}</span></a>
        <a href="{%url 'masalah-noanswered'%}"><span class="badge badge-pill badge-light">ยังไม่ได้รับการตอบ</span></a><hr>
        {% if not masalah %}
        <div class="alert alert-danger"><p class="text-center">ยังไม่มีคำถามที่ได้รับการตอบกลับ</p></div>
        {% else %}
        {% for masalah in page_obj %}
        {% if masalah.quester == request.user %}
        <div class="card shadow mb-1 " style="border-top: 3px solid green ; padding:20px">
            <div class="row no-gutters">
                <div class="col-sm-12">
                    <div class="d-flex bd-highlight  ">
                        {% if masalah.quester.profile.photo %}
                        <img src="{{masalah.quester.profile.photo.url}}" class="navbar-img rounded-circle">
                        {% else %}
                        <img src="/media/Profile-PNG-Icon-715x715.png/" class="navbar-img rounded-circle">
                        {% endif %}
                        <p>{{masalah.quester.first_name}} <br> <small>@{{masalah.quester.username}}</small></p>

                    </div>
                    <div class="container">
                        <a style="color:#006400" class="card-link" href="{{masalah.get_url}}"><h5 class="card-title">
                            {{masalah.question|truncatechars:60}}</h5></a>
                        <p class="card-text">{{masalah.answer|safe|truncatechars:100|striptags}}...<span><a
                                href="{{masalah.get_url}}">อ่านเพิ่มเติม</a></span></p>
                    </div>
                    <div class="modal-footer">

                        <p class="card-text"><span><small>
                        <i class="fa fa-calendar" aria-hidden="true"> </i> {{masalah.updated|date:'d/m/Y'}} |
                        <i class="fa fa-clock" aria-hidden="true"> </i> {{masalah.updated|time:'H:i'}} |
                        <i class="fa fa-tag" aria-hidden="true"></i> {{masalah.category.name}} |
                        </small></span>
                        </p>

                        <p>
                            | <span><i class="fa fa-comments" aria-hidden="true"></i> {{masalah.get_num_comment}} |</span>
                            <span><i class="fa fa-eye" aria-hidden="true"></i> {{masalah.view}} |</span>
                            <span><i class="fa fa-star" aria-hidden="true"></i> {{masalah.total_likes}} |</span>
                            <!--                            <span><i class="fa fa-star" aria-hidden="true"></i> {{article.total_likes}} |</span>-->
                        </p>

                    </div>

                </div>

            </div>
        </div>
        {%endif%}
        {% endfor%}
        {%endif%}
    </div>
    {% load my_tags %}
    <hr>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if page_obj.previous_page_number != 0 %}
            <li class="page-item">
                <a href="?{% param_replace page=1 %}#postpage"><span class="page-link">หน้าแรก</span></a>
            </li>
            {% endif %}
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link"
                                     href="?{% param_replace page=page_obj.previous_page_number %}#postpage"><i
                    class="fa fa-chevron-left"
                    aria-hidden="true"></i></a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#postpage"><span><i class="fa fa-chevron-left"
                                                                                          aria-hidden="true"></i></span></a>
            </li>
            {% endif %}

            {% if page_obj.number|add:'-4' > 1 %}
            <li class="page-item"><a class="page-link"
                                     href="?{% param_replace page=page_obj.number|add:'-5' %}#postpage">&hellip;</a>
            </li>
            {% endif %}

            {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
            <li class="page-item active"><a class="page-link" href="#postpage"><span>{{ i }} <span class="sr-only">(current)</span></span></a>
            </li>
            {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
            <li class="page-item"><a class="page-link" href="?{% param_replace page=i %}#postpage">{{ i }}</a></li>
            {% endif %}
            {% endfor %}

            {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
            <li class="page-item"><a class="page-link"
                                     href="?{% param_replace page=page_obj.number|add:'5' %}#postpage">&hellip;</a>
            </li>
            {% endif %}

            {% if page_obj.has_next %}
            {% if page_obj.next_page_number != paginator.num_pages %}
            <li class="page-item"><a class="page-link"
                                     href="?{% param_replace page=page_obj.next_page_number %}#postpage"><i
                    class="fa fa-chevron-right"
                    aria-hidden="true"></i></a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#postpage"><span><i class="fa fa-chevron-right"
                                                                                          aria-hidden="true"></i></span></a>
            </li>
            {% endif %}
            <li class="page-item">
                <a href="?{% param_replace page=page_obj.paginator.num_pages %}#postpage"><span
                        class="page-link">สุดท้าย</span></a>
            </li>

            {% endif %}
        </ul>
    </nav><!--page-->
</div>
{%endblock%}
{%block praytime%}
{%include 'blockpraytime.html'%}
{%endblock%}

{%block ads%}
{%include 'blockpost.html'%}
{%include 'blockarticle.html'%}
{%include 'blockmasalah.html'%}
{%endblock%}