{% extends 'layout.html'%}
{%block title%}ปัญญาชนอิสลาม-{{article.name}}{%endblock%}
<!--class Meta for facebook-->
{%block pathpage%}{{article.get_url}}{%endblock%}
{%block type%}panyachonislam.com{%endblock%}
{%block titleface%}{{article.name}}{%endblock%}
{%block descripe%}{{article.description|safe}}{%endblock%}
{%block pathpic%}{{article.image.url}}{%endblock%}
<!--end class Meta for facebook-->
{%block head%}
{%include 'picheadpage.html'%}
{%endblock%}
{%block content%}
<div class="container">
    <div class="card shadow mb-2" style="border-top: 3px solid green ;padding:10px">

        <div class="jumbotron shadow mb-3" style="background-color:#B0E0E6;padding:20px">
            <h6><kbd style="background-color:#2E8B57">คำถามหมายเลข : {{masalah.id}} </kbd> | {{masalah.question}}
            </h6>
            <br>
        </div>

        <div class="jumbotron shadow" style="background-color:#F0FFFF;padding:25px">
            <p>
                <kbd style="background-color:#008B8B">ตอบ</kbd>{{masalah.answer|safe}}
            </p>
        </div>

        <a href="http://www.facebook.com/sharer.php?u=http://127.0.0.1:8000{{article.get_url}}">shareeeeee</a>

        <div class="modal-footer">

            <p class="card-text"><span><small>
                        <i class="fa fa-calendar" aria-hidden="true"> </i> {{masalah.updated|date:'SHORT_DATE_FORMAT'}} |
                        <i class="fa fa-clock" aria-hidden="true"> </i> {{masalah.updated|time:'H:i'}} |
                        <i class="fa fa-tag" aria-hidden="true"></i> {{masalah.category.name}} |
                        </small></span>
            </p>

            <p>
                <span><i class="fa fa-eye" aria-hidden="true"></i> {{masalah.view}} |</span>
            <div id="like-masalah-section">
                {% include 'like_masalah_section.html' %}
            </div>
            <!--                            <span><i class="fa fa-star" aria-hidden="true"></i> {{article.total_likes}} |</span>-->
            </p>
        </div>
        <hr>
        <div class="main-comment-section">
            {%include 'commentmasalah.html'%}
        </div>

        <div class="modal-footer">
            <div class="ml-auto p-1 bd-highlight" style="border-bottom: 3px solid green ; padding:20px">
                <a style="color:green" class="card-link" href="{%url 'masalah'%}"><h6>มัสอะละห์อื่นๆ</h6></a>
            </div>
        </div>

    </div>
</div>

{%endblock%}