{% extends 'layout.html'%}
{%load static%}
{%block head%}
{%include 'picheadpage.html'%}
{%endblock%}
{%block content%}
<div class="card border-0 shadow mb-4"><!--กล่องหลัก-->

    {% if not readlist_items %}
    <div class="alert alert-danger my-2 mx-2"><p class="text-center">คุณยังไม่ได้เพิ่มบทความเข้าใน readlist ของคุณ</p></div>
    {% else %}
    <div class="table-responsive cart_info">

        <table class="table table-condensed">
            <thead>
            <tr class="cart_menu">
                <td class="image"></td>
                <td class="image">บทความ</td>
                <td class="image">หมวดหมู่</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            {% for item in readlist_items %}
            <tr>
                <td class="cart_product">
                    <a href="{{item.article.get_url}}"><img src="{{item.article.image.url}}" alt="{{item.article.name}}"
                                                            width="65px" height="65px"></a>
                </td>
                <td class="cart_description">
                    <h6><a href="{{item.article.get_url}}">{{item.article.name}}</a></h6>
                </td>
                <td><p>{{item.article.category.name}}</p></td>
                <td class="cart_delete">
                    <a onclick="return confirm('คุณต้องการลบออกจาก readlist ของคุณหรือไม่ ?')" class="cart_quantity_delete" href="{% url 'removefromreadlist' item.article.id %}" ><i class="fa fa-times"></i></a>
                </td>
            </tr>
            {%endfor%}
            </tbody>
        </table>

    </div>

    <h5 class="text-center">บทความใน readlist ของคุณ :
        {% if itemcount > 0 %}
        {{itemcount}}
        {% else %}
        0
        {% endif %}
    </h5>
    <br>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">ก่อนหน้า</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
                <span class="page-link">2<span class="sr-only">(current)</span></span>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">ถัดไป</a>
            </li>
        </ul>
    </nav>

    {% endif %}
</div>
{%endblock%}